/*-- Start navbar section --*/

.quick-summ {
  margin-left: 3rem;
}

.navbar .form-control {
  width: 20rem;
}

.navbar .info {
  margin-right: 3rem;
}

.navbar .about {
  margin-right: 2rem;
}

/*-- Start summarizer section --*/

.heading {
  font-size: 3rem;
  margin-top: 4rem;
}

.summarizer .input-area {
  width: 40rem;
}

.summarizer .url,
.file,
.cp {
  margin-top: 2rem;
}
